ul {
  width: 90%;
  margin: 5px auto;
  padding: 0;

  li {
    list-style: none;

    a {
      display: block;
      padding: 10px 0;
      text-decoration: none;
    }
  }
  .name {
    margin-right: 10px;
    font-weight: bold;
  }

  .title {

  }

  .date {
    float: right;
  }
}