.home {
  ul {
    padding: 0;
    @include chosenDevice(tablet) {
      background: orange;
    }

    li {
      list-style: none;
      border-bottom: 1px solid #CCC;

      a {
        display: block;
        padding: 15px 0;
        text-decoration: none;
      }
    }
    .name {
      margin-right: 10px;
      font-size: 18px;
      font-weight: bold;
      color: #333;
    }

    .title {
      color: #1e90ff;
      text-decoration: underline;
    }

    .location {
      font-size: 14px;
      position: relative;
      top: -1px;
      color: #222;
    }

    .date {
      float: right;
      position: relative;
      top: -30px;
      color: #222;
    }
  }
}