.home {
  h1 {
    width: 95%;
    margin: 25px auto;
    text-align: center;
  }

  #post-new-job {
    text-align: center;

  }

  ul {
    padding: 0;
    @include chosenDevice(tablet) {
      //background: orange;
    }

    @include chosenDevice(mobile) {
      //background: yellow;
    }

    li {
      list-style: none;
      border-bottom: 1px solid #40beff;
      //border-bottom: 1px solid #EBF2F6;

      a {
        display: block;
        padding: 20px;
        text-decoration: none;

        @include chosenDevice(tablet) {
          padding: 20px 15px;
        }
      }
    }

    li:hover {
      background-color: #F2FBFF;
    }

    .name {
      font-size: 18px;
      font-weight: bold;
      color: #333;
      @include chosenDevice(mobile) {
        font-size: 16px;
      }
    }

    .title {
      color: #1e90ff;
      text-decoration: underline;
    }

    .location {
      font-size: 14px;
      position: relative;
      top: -1px;
      color: #222;
    }

    .date {
      float: right;
      text-transform: uppercase;
      position: relative;
      top: -35px;
      color: #222;
      font-size: 15px;
      @include chosenDevice(tablet) {
        font-size: 12px;
      }
    }
  }
}