#new-job-view {
  #forms {
    margin: 10px 0;

    .input-infos {

    }
  }

  .box {
    margin: 15px;
    height: 37px;
    //line-height: 38px;
  }

  .box-extra {
    margin: 10px 0;
    height: 60px;
    width: 540px;
    .example {
      margin-bottom: 0;
      margin-top: 0;
      font-size: 12px;
      font-style: italic;
      color: #CCC;
    }
  }

  label {
    font-size: 18px;
    line-height: 38px;
    cursor: pointer;
  }

  input {
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 5px;
    margin-right: 5px;
    float: right;
    height: 25px;
    width: 400px;
  }

  .routes {
    display: block;
    margin: 15px 0;
  }


  .text-control {
    margin-top: 5px;
    padding: 10px 0;
    font-size: 12px;

    a {
      text-decoration: none;
      margin-right: 5px;
      background-color: #87ceeb;
      padding: 5px;
      border-radius: 2px;
      color: #222;
    }

    .bold {
      font-weight: bold;
    }

    .italic {
      font-style: italic;
    }
  }

  .job_description {
    max-height: 500px;
    overflow: auto;
    border: 1px solid #CCC;
    padding: 25px;
    height: 250px;

    ol, ul {
      padding-left: 25px;
    }
  }
}

