#new-job-view {
  .job_description {
    max-height: 500px;
    overflow: auto;
    margin-top: 15px;
    border: 1px solid orange;
    padding: 25px;
    height: 250px;

    ol, ul {
      padding-left: 25px;
    }
  }
}