@import "mixins";

#new-job-view {
  #forms {
    margin: 10px 0;

    .input-infos {

    }
  }


  .box-extra {
    margin: 10px 0;
    height: 76px;
    width: 540px;

    @include chosenDevice(tablet) {
      width: 100%;
    }

    .example {
      margin-bottom: 0;
      margin-top: 0;
      margin-left: 140px;
      font-size: 12px;
      font-style: italic;
      color: #CCC;
    }
  }

  label {
    font-size: 18px;
    line-height: 38px;
    cursor: pointer;
  }

  input {
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 5px;
    float: right;
    height: 37px;
    width: 400px;
    @include chosenDevice(tablet) {
      width: 100%;
      float: none;
    }
  }

  .routes {
    display: block;
    margin: 15px 0;
  }



  .text-control {
    margin-top: 65px;
    padding: 10px 0;
    font-size: 12px;

    a {
      text-decoration: none;
      margin-right: 5px;
      background-color: #87ceeb;
      padding: 5px;
      border-radius: 2px;
      color: #222;
    }

    .bold {
      font-weight: bold;
    }

    .italic {
      font-style: italic;
    }
  }

  .job_description {
    max-height: 500px;
    overflow: auto;
    border: 1px solid #CCC;
    padding: 25px;
    height: 250px;


    ol, ul {
      padding-left: 25px;
    }
  }
}

