.apply {
  background-color: #efefef;
  padding: 15px 20px;
  margin: 30px 0;

  h3, p {
    margin: 5px 0;
  }

  @include chosenDevice(mobile) {
    font-size: 15px;
  }
}

.preview-view {

  .how {
    color: red;
    word-wrap: break-word;
  }
}