@import "normalize";
@import "home";
@import "common";

body {
  font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
  background-color: #FFF;
}

.hidden {
  display: none;
}
