@import "normalize";
@import "common";
@import "home";
@import "mixins";
@import "job";
@import "new-job";
@import "preview";

body {
  font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
  background-color: #FFF;
  color: rgba(0,0,0,0.8);
}



.container {
  width: 82%;
  max-width: 960px;
  margin: 0 auto;
  @include chosenDevice(tablet) {
    width: 100%;
  }
}

