@import "normalize";

body {
  font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
}

.job_description {
  margin-top: 50px;
  height: 200px;
  width: 500px;
  border: 1px solid blue;
}
